[MYSQLD]
ndbcluster                     
ndb-connectstring=172.31.13.64 
default-storage-engine=NDBCLUSTER
skip-character-set-client-handshake
character-set-server = utf8
collation-server = utf8_general_ci
init-connect = SET NAMES utf8

[MYSQL_CLUSTER]
ndb-connectstring=172.31.13.64
